
body {
  font-family: 'Roboto', sans-serif;
  transition: background-color .5s;
}

.title {
  color: rgb(22, 22, 22);
}

.title:hover {
  color: rgb(113, 113, 113);
  cursor: pointer;
}

.stories-cols {
  margin: 15px;
  padding: 15px;
}

.article-card {
  cursor: move;
}

.menu-subtitle:hover {
  color: rgb(113, 113, 113);
  cursor: pointer;
}

/* Sidenav begin */

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#main {
    transition: margin-left .5s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 180px;
    /* font-size: 36px; */
    margin-right: 50px;
}

/* Sidenav end */

#react-logo {
  -webkit-animation: myRotation 4s 1s infinite linear normal;
  -webkit-transform-origin: center center;
  -moz-animation: myRotation 4s 1s infinite linear normal;
  -moz-transform-origin: center center;
  -ms-animation: myRotation 4s 1s infinite linear normal;
  -ms-transform-origin: center center;
  -o-animation: myRotation 4s 1s infinite linear normal;
  -o-transform-origin: center center;
  animation: myRotation 4s 1s infinite linear normal;
  transform-origin: center center;
}

@-webkit-keyframes myRotation {
  0%  {
    /* background:coral; */
    transform:rotate(0deg);
  }
  100% {
    /* background:darksalmon; */
    transform:rotate(360deg);
  }
}

@-moz-keyframes myRotation {
  0%  {
    /* background:coral; */
    transform:rotate(0deg);
  }
  100% {
    /* background:darksalmon; */
    transform:rotate(360deg);
  }
}

@-ms-keyframes myRotation {
  0%  {
    /* background:coral; */
    transform:rotate(0deg);
  }
  100% {
    /* background:darksalmon; */
    transform:rotate(360deg);
  }
}

@-o-keyframes myRotation {
  0%  {
    /* background:coral; */
    transform:rotate(0deg);
  }
  100% {
    /* background:darksalmon; */
    transform:rotate(360deg);
  }
}

@keyframes myRotation {
  0%  {
    /* background:coral; */
    transform:rotate(0deg);
  }
  100% {
    /* background:darksalmon; */
    transform:rotate(360deg);
  }
}

#secondary-title {
  display: inline-block;
  -webkit-animation: mySlide 4s 1s number ease-in normal;
}

@-webkit-@keyframes mySlide {
  0% {
    transform:rotate(270deg);
  }
  50% {
    transform:rotate(274deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

/* Dragula's CSS */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
